@font-face {
  font-family: Quintessential;
  src: url(../fonts/Quintessential-Regular.ttf);
}
@font-face {
  font-family: "Zain";
  src: url(../fonts/Zain-Regular.ttf);
}
body {
  margin: 0;
  padding: 0;
  background-color: beige;
  overflow-y: scroll;
  font-family: Zain, sans-serif;
  font-size: 1.3em;
}
h1 {
  font-family: Quintessential, sans-serif;
}
.container {
  height: 80vh;
  margin-block: 10vh;
  border-radius: 10px;
  box-shadow: 0 1px 1px hsl(0deg 0% 0% / 0.075),
    0 2px 2px hsl(0deg 0% 0% / 0.075), 0 4px 4px hsl(0deg 0% 0% / 0.075),
    0 8px 8px hsl(0deg 0% 0% / 0.075), 0 16px 16px hsl(0deg 0% 0% / 0.075);
}
#quoteImg {
  width: 150px;
}
::-webkit-scrollbar {
  width: 5px;
  background-color: beige;
}
::-webkit-scrollbar-thumb {
  background-color: rgb(170, 170, 153);
}
::selection {
  background-color: rgb(214, 214, 185);
}
